body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f5f5f5;
    color: #222;
}

/* Header */
header {
    background-color: #285786;
    color: white;
    padding: 30px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header h3 {
    font-weight: normal;
}

/* Main section */
main {
    padding: 40px;
    flex: 1;
}

/* Buttons */
.btn-primary {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid rgb(0, 3, 3) !important;
    border-radius: 60px;
    background: linear-gradient(0deg, rgb(34, 46, 116), rgb(97, 150, 172));
}

.btn-primary:hover {
    background: linear-gradient(0deg, rgb(33, 43, 107),rgb(73, 111, 128));
}

/* Text input */
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}


/* Footer */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #285786;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer nav a::before,
footer nav a::after {
    content: none !important;
}

footer p {
    margin: 5px;
}

#Github {
    text-decoration: underline;
}

footer nav a {
    text-decoration: none !important;
}